.note {
  width: 16em;
  height: 20em;
  display: flex;
  flex-direction: column;
  background-color: brown;
  padding: 25px;
  border-radius: 5%;
}
.note_text {
  resize: none;
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
}
.note_footer p {
  color: black;
}
.note_footer {
  display: flex;
  justify-content: space-between;
}
.note_footer_del-button {
  cursor: pointer;
  opacity: 0;
  transition: 300ms;
}
.note:hover .note_footer_del-button {
  opacity: 1;
}
